footer {
    padding: 40px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer p {
    max-width: 700px;
    margin-bottom: 24px;
    z-index: 2;
    font-weight: bold;

    @media (max-width:1115px) {
        width: 500px;
    }

    @media (max-width:820px) {
        width: 400px;
    }
}

footer::before, footer::after {
    content: '';
    width: 300px;
    height: 200px;
    background: url('../images/footer/tape.svg') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -30px;

    @media (max-width:1115px) {
        width: 250px;
        height: 250px;
        top: 100px
    }

    @media (max-width: 725px) {
        top: 120px;
    }

    @media (max-width:520px){
        background: none;
    }
}

footer::before {
    left: -50px;
    transform: rotateZ(-10deg);
}

footer::after {
    right: -50px;
    transform: rotateZ(-10deg);
}