#section-form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;

    @media (max-width:500px) {
        width: 90%;
    }
}

#section-form h2 {
    width: 80%;
}

#section-form .form-content h3 {
    color: var(--highlight-color);
    text-align: left;
    margin: 0;

    @media (max-width:980px) {
       text-align: center;
       width: 90%;
    }

    @media (max-width:490px) {
        font-size: 38px;
    }
}


#section-form .form-content h3 span {
    color: var(--primary-color);
}

#section-form .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:980px) {
        flex-direction: column;
        gap: 40px;
    }
}

#section-form .form-container {
    flex-basis: 50%;
    position: relative;
}

#section-form .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
    box-shadow: 40px 40px 5px var(--highlight-color);

    @media (max-width:590px) {
        box-shadow: 10px 10px 5px var(--highlight-color);
    }

    @media (max-width:490px) {
        width: 280px;
        box-shadow: 10px 10px 5px var(--highlight-color);
    }

}


#section-form .form-container form button {
    border: none;
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    max-width: 300px;
    align-self: center;
}

#section-form .form-container form button:hover {
    background-color: var(--primary-color-contrast);
    color: var(--field-background-color);
}